*.nc
*.png
*._*
test
.DS*
*.swo
copy_data_test.run
plot_cape.ncl
plot_convergence.ncl
plot_gph_t_500.ncl
plot_gph_t_850.ncl
plot_gph_thetae_850.ncl
plot_hsnow.ncl
plot_jetstream.ncl
plot_pres_t2m_winds10m.ncl
plot_rain.ncl
plot_rain_acc.ncl
plot_rain_clouds.ncl
plot_winds10m.ncl
test.run
utils.pyc
