# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
python=2
metpy
xarray
dask
basemap
basemap-data-hires
scipy
seaborn
pandas
numpy
matplotlib
wget
parallel
cdo